* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
}

ul{
    list-style: none;
    margin: 0;
}

header{
    margin-bottom: 30px;
}
.header-wrapper{
    display: flex;
    gap: 100px;
}
.header-nav{
    display: flex;
    gap: 30px;
}

.instrument-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.instrument-card {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.instrument-card-default{
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instrument-card button{
width: 130px;
}

.product-modal{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;

    background-color: #fff;
}

button{
    cursor: pointer;
}

.basicLightbox {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
    opacity: .01;
    transition: opacity .4s ease;
    z-index: 1000;
    will-change: opacity
}

.basicLightbox--visible {
    opacity: 1
}

.basicLightbox__placeholder {
    max-width: 100%;
    transform: scale(.9);
    transition: transform .4s ease;
    z-index: 1;
    will-change: transform
}

.basicLightbox__placeholder>iframe:first-child:last-child,
.basicLightbox__placeholder>img:first-child:last-child,
.basicLightbox__placeholder>video:first-child:last-child {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 95%;
    max-height: 95%
}

.basicLightbox__placeholder>iframe:first-child:last-child,
.basicLightbox__placeholder>video:first-child:last-child {
    pointer-events: auto
}

.basicLightbox__placeholder>img:first-child:last-child,
.basicLightbox__placeholder>video:first-child:last-child {
    width: auto;
    height: auto
}

.basicLightbox--iframe .basicLightbox__placeholder,
.basicLightbox--img .basicLightbox__placeholder,
.basicLightbox--video .basicLightbox__placeholder {
    width: 100%;
    height: 100%;
    pointer-events: none
}

.basicLightbox--visible .basicLightbox__placeholder {
    transform: scale(1)
}